$brown: #966b43;
$beige: #f2eee8;
$dark-beige: #e0c8b6;
$light-orange: #f0b85f;
$dark-gray: #282828;


body{
    background-color: white; //$beige;
    font-family: 'Roboto', sans-serif!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}

h1{
    color: $brown;
}

h2{
    color: $light-orange;
}

h3{
    color: $dark-beige;
}

h4{
    color: $dark-gray;
}

h4{
    color:white;
}

.navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.bg-beige{
    background-color: $beige;
}

.bg-gray{
    background-color: $dark-gray;
}

.small-text{
    font-size: 12px;
}

.nav-item.nav-link{
    border-bottom: 3px solid transparent;
    &:hover{
        border-bottom: 3px solid $brown;
        color: $brown!important;
    }
    &:active{
        color: $brown!important;
    }
}

.right-name{
    position: relative;
    .bulb{
        position: absolute;
        right: 0;
    }
}

.carousel{
    position: relative;
    img{
        height: 100vh;
        object-fit: cover;
        margin-top: 100px;
    }
    svg{
        position: absolute;
        bottom: 0;
        z-index: 100;
    }
}

.icons{
    background-color: $beige;
    h3{
        color: $brown;
    }
    p{
        color: $brown;
    }
}

.bar-img img{
    height: 260px;
    object-fit: cover;
}

.list-prop{
    padding-left: 0;

    ul{
        list-style:none;
        margin: 0;
        padding: 0;

        li{
            margin:0; 
            padding:0;
            background:url('../../img/check.png') no-repeat 0 0;
            padding-left:40px;  
            min-height:40px;
        }
    }
}

footer{
    color: white;
    ul.address{
        list-style: none;
    }
    ul.phone{
        list-style-position: outside;
        list-style-image: url("../../img/phone.png");
    } 
    ul.envelope{
        list-style-position: outside;
        list-style-image: url("../../img/envelope.png");
        li{
            color: white;
        }   
    } 
}

.contact-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-form{
    width: 100%;
    float: right;

    input{
        width: 100%;
        margin-top: 10px;
        color: white;
        padding: 7px;
        border: none;
        background-color: $dark-gray;
        border-radius: 0;
    }

    .contact-form-button{
        float: right;
        width: 50%;
        padding: 7px;
        border: 3px solid $dark-gray;
        background-color: $dark-gray;
        color: white;

        &:hover{
            transition: .3s ease;
            border: 3px solid $dark-gray;
            background-color: white;
            color: $dark-gray;
        }
    }

    textarea{
        width: 100%;
        margin-top: 10px;
        color: white;
        padding: 7px;
        border: none;
        background-color: $dark-gray;
        border-radius: 0;
    }
}

$hexagon-width: 250px;
$hexagon-height: $hexagon-width*.55;
$hexagon-margin: 25px;
$hexagon-title-color: #fff;
$hexagon-border-color: #fff;
$hexagon-border-color--hover: #72f88e;
$hexagon-image-color: #3ea0eb;
$honeycomb-max-width: 1200px;
$viewport-thereshold: $hexagon-width + $hexagon-margin;


*, *::before, *::after {
  box-sizing: border-box;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: $honeycomb-max-width;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  transform: translateY(#{$hexagon-height/4});

  &-cell {
    flex: 0 1 $hexagon-width;
    max-width: $hexagon-width;
    height: $hexagon-height;
    margin: $hexagon-height/2.1 $hexagon-margin/2 $hexagon-margin;
    position: relative;
    padding: 0.5em;

    text-align: center;
    z-index: 1;

    h4{
        line-height: 0;
    }

    p{
        padding-top: 40px;
    }


    &__title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      hyphens: auto;
      word-break: break-word;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 1.75em;
      transition: opacity 350ms;
      
      > small {
        font-weight: 300;
        margin-top: 0.25em;
      }
    }

    &__image {
      object-fit: cover;
      object-position: center;
    }
    
    &::before, &::after {
      content: '';
    }

    &::before, &::after, &__image {
      top: -50%;
      left: 0;
      width: 100%;
      height: 200%;
      display: block;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -1;
    }

    &::before {
      background: $hexagon-border-color;
      transform: scale(1.055);
    }

    &::after {
      background: $beige;
      opacity: 0.5;
      transition: opacity 350ms;
    }


  }

  &__placeholder{
    display:none;
    opacity: 0;
    width: $hexagon-width;
    margin: 0 $hexagon-margin/2;
  }
}

@media (max-width:#{2*$viewport-thereshold}){
  .honeycomb-cell {
    margin: #{$hexagon-margin/2 + $hexagon-height/2} $hexagon-margin;
  }
}

@media (min-width: #{2*$viewport-thereshold}) and (max-width:#{3*$viewport-thereshold}){
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - #{$hexagon-width/2});
    margin-left: calc(50% - #{$hexagon-width/2});
  }

  .honeycomb__placeholder:nth-child(3n + 5) {
    display:block;
  }
}

@media (min-width: #{3*$viewport-thereshold}) and (max-width:#{4*$viewport-thereshold}) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - #{$hexagon-width + $hexagon-margin});
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - #{$hexagon-width + $hexagon-margin});
  }

  .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
    display:block;
  }
}

@media (min-width: #{4*$viewport-thereshold}) {
  .honeycomb-cell:nth-child(7n + 5)  {
    margin-left: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
  }

  .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
  }

  .honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11){
    display:block;
  }
}


 @media (min-width: 1200px){
    .bar-img{
        img{
            height: 400px;
        }
    }
} 

@media (max-width: 1360px){
    .bulb{
        display: none;
    }
}

@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){
    #beestrong{
        h1{
            font-size: 50px;
        }
    }
    .nav-item.nav-link{
        border-bottom: none;
        &:hover{
            border-bottom: none;
        }
    }
    .carousel{
        img{
            height: 40vh;
        }
    }
    
} 